extends admin_base

block content
  .card.shadow.mb-4
    .card-header.py-3
      h6.m-0.font-weight-bold.text-primary ربات جدید
    .card-body
      include botData
      button#newbot.btn.btn-primary.btn-icon-split
        span.icon.text-white-100 ساختن
        .rotator(style="display:none")