ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  // Sidebar - Brand
  a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/')
    .sidebar-brand-icon.rotate-n-15
      i.fas.fa-laugh-wink
    .sidebar-brand-text.mx-3
      | website 
  // Divider
  hr.sidebar-divider.my-0
  // Nav Item - Dashboard
  li.nav-item.active
    a.nav-link(href='/me')
      i.fas.fa-fw.fa-tachometer-alt
      span Dashboard
  // Divider
  hr.sidebar-divider
  // Heading
  .sidebar-heading
    | Interface
  // Nav Item - Pages Collapse Menu
  li.nav-item
    a.nav-link(href='/bot')
      i.fas.fa-fw.fa-chart-area
      span Bot
